	
	private static #DOMAIN_CLASS createInstanceFromResultSet(ResultSet rs) throws SQLException {
		#DOMAIN_CLASS #L_DOMAIN_CLASS = new #DOMAIN_CLASS();
		
#CREATE_INSTANCE_FROM_RS
		return #L_DOMAIN_CLASS;
	}  